@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


/* 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 */

.App {
  /* height: 500vmin; */
  height: unset;
  margin-bottom: 3vmax;
}

.App>h5 {
  margin-top: 4vmax;
  color: gray;
  font-size: 1.6vmax;
  text-align: center;
}

.App>h2 {
  margin-top: 1vmax;
  font-size: 4vmax;
  text-align: center;
}

.App>h1>span {
  margin-top: 1vmax;
  font-size: 4vmax;
  text-align: center;
  background: linear-gradient(to right, #3a86f3, #369fe2,
      #32b7d2, #2ed0c3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.App>h1 {
  text-align: center;
}

.App>h2>span {
  background-image: linear-gradient(-225deg,
      #9a85e9 0%,
      #43107a80 29%,
      #ff1361 67%,
      #d25fff 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.p_top {
  color: white;
  text-align: center;
  font-size: 3.4vmax;
  margin-top: 1vmax;
}

.p_bot {
  color: white;
  text-align: center;
  font-size: 3vmax;
  /* font-weight: 100 !important; */
}

.p_bot2 {
  /* font-weight: 100 !important; */
  color: white;
  text-align: center;
  margin-top: 0.5vmax;
  font-size: 2vmax;
}

.apply {
  border-radius: 20px !important;
  font-weight: bold !important;
}

.apply_btn {
  margin-top: 4vmax;
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none !important;
}


.myImg {
  height: 470px;
  border-radius: 20px;

}

.me {
  margin-top: 5vmax;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.hr {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hr>hr {
  margin-top: 10vmax;
  border: 0.4px solid gray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 50%;
}

.me_info>h2 {
  background: linear-gradient(to right, #3a86f3, #369fe2,
  #32b7d2, #2ed0c3);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
  font-size: 4vmax;
  text-align: right;
}

.me_info {
  width: 44%;
  margin-right: 5vmax;
}

.me_info>p {
  text-align: right;
  color: rgb(255, 255, 255);
  font-size: 2vmax;
}

.js {
  display: flex;
  align-items: center;
  justify-content: center;
}

.js>h2 {
  margin-left: 1vmax;
  color: yellow;
}

.rjs {
  margin-top: 1vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -0.9vmax;
}

.rjs>h2 {
  margin-left: 1.5vmax;
  color: aqua;
}

.fb {
  margin-top: 1vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -0.9vmax;
}

.fb>h2 {
  margin-left: 1.5vmax;
  color: rgb(255, 255, 255);
}

.skills {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3vmax;
}

.git {
  margin-bottom: 3vmax !important;
}

.projects>h2 {
  text-align: center;
  color: white;
  margin-top: 3vmax;
  font-size: 4vmax;
}

.flex_div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4vmax;
  flex-wrap: wrap;
  width: 60%;
  margin-left: 20%;
}

.p1 > img {
  width: 600px;
  border-radius: 10px;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  filter: brightness(120%);
  filter: contrast(120%);
  filter: drop-shadow(10px 10px 10px rgba(59, 59, 59, 0.651));
}
.p1 > img:hover {
  -webkit-transform: scale(1.03);
	transform: scale(1.03);
}

.p1{
  display: flex;
}


.p1_info {
  margin-left: 2vmax;
}

.p1_info > h2 {
  background: linear-gradient(to right, #3a86f3, #369fe2,
  #32b7d2, #2ed0c3);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
  font-size: 3vmax;
}
.p1_info > p {
  color: white;
  font-size: 1vmax;
}
.p1_info > ul {
  font-size: 1.4vmax;
  background: linear-gradient(to right, #3a86f3, #369fe2,
  #32b7d2, #2ed0c3);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
  margin-top: 1vmax;
  margin-left: 1.5vmax;
}

.lnk {
  margin-top: 1vmax;
}

.p2 > img {
  width: 600px;
  border-radius: 10px;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  filter: brightness(120%);
  filter: contrast(120%);
  filter: drop-shadow(10px 10px 10px rgba(59, 59, 59, 0.651));
}
.p2 > img:hover {
  -webkit-transform: scale(1.03);
	transform: scale(1.03);
}

.p2{
  display: flex;
  margin-top: 5vmax;
}
.p2_info {
  margin-right: 2vmax;
}

.p2_info > h2 {
  background: linear-gradient(to right, #3a86f3, #369fe2,
  #32b7d2, #2ed0c3);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
  font-size: 2.7vmax;
}
.p2_info > p {
  color: white;
  font-size: 1vmax; 
}
.p2_info > ul {
  font-size: 1.4vmax;
  background: linear-gradient(to right, #3a86f3, #369fe2,
  #32b7d2, #2ed0c3);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
  margin-top: 1vmax;
  margin-left: 1.5vmax;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.repo {
  background-color: gray !important;
}

.link {
  background-color: green !important;
}

.hire>h2 {
  text-align: center;
  color: white;
  margin-top: 3vmax;
  font-size: 4vmax;
}

.hire>h4 {
  text-align: center;
  color: gold;
  font-size: 3vmax;
  margin-top: 5vmax;
}

.linkedin {
  background-color: #3a86f3;
}

.follow>h2 {
  color: white;
  font-size: 4vmax;
  margin-top: 3vmax;
  text-align: center;
}

.follow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ig {
  border-radius: 15px;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  margin-top: 3vmax;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1vmax;
}

.ig>h4 {
  /* color: ; */
  font-size: 4vmax;
}

.ig>img {
  height: 80px;
}

.lin {
  border-radius: 15px;
  background: #0077b3;
  margin-top: 3vmax;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1vmax;
}

.lin>h4 {
  font-size: 4vmax;
}

.lin>img {
  height: 80px;
}

@media screen and (max-width:700px) {
  .me_info>p {
    text-align: center;
    margin-left: 3vmax;
  }

  .me_info>h2 {
    text-align: center;
    margin-left: 3vmax;
  }

  .me_info {
    width: 100%;
  }

  .project {
    margin-top: 4vmax;
  }

  .lin {
    margin-bottom: 4vmax;
  }
  .p1{
    flex-wrap: wrap;
  }
  .p1_info {
    margin-left: 0;
  }
  .p2 {
    flex-wrap: wrap;
  }
}